#overviewList li {
    display: inline;
}

#overviewList {
    width: 100%;
    margin-bottom: 2%;
}

#overviewList li {
    color: orange;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 5px;
    padding: 1%;
}

#overviewList a {
    color: white;
}

#overviewList .active {
    background-color: white;
    color: black;
}

#overviewList .active a {
    color: black;
}

#leftOverview {
    text-align: left;
    background-color: rgba(240, 240, 240, 0.9);
    height: 100%;
}

#movieImg {
    margin: 0;
    padding: 0;
    text-align: center;
}

#movieDesc {
    padding: 4% auto;
}

#movieImg img {
    width: 94%;
}

body {
    background-image: url("http://68.media.tumblr.com/000dec43ea889876c1ee790bda6eda3c/tumblr_o1l249LzcK1teue7jo1_1280.jpg");
    background-repeat: cover;
    background-size: 100%;
    overflow: auto;
    padding-bottom: 3%;
}

#stats {
    padding: 3%;
}

#stats ul {
    list-style: none
}

#stats .detail {
    color: teal;
}

#rightDesc {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2%;
    text-align: center;
    color: white;
}

#rightDesc iframe {
    width: 100%;
    height: 80%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.time {
    padding: 1% 3%;
}

.movieTheatre {
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;
    color: black;
    border-radius: 20px;
    padding-bottom: 3%;
    margin-bottom: 5%;
}

.theatreHeader {
    background-color: rgba(50, 120, 150, 0.5);
    color: white;
    padding: 1%;
}