table, fieldset {
    margin: 0 auto;
    text-align: center;
}

.movieReview{
    width: 100%
}

.reviewMeta{
    text-align: left;
    font-size: 12px;
    left: 0;
}

.reviewAuthor{
    color: aquamarine;
}

.reviewDate{
    color: indianred;
}

